@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Koulen&family=Poppins&family=Teko&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #847F7F;
}

#header{
    background-color: #4D4D4D;
}
.logo{
    margin:10px;
    border-radius: 100px;

}
.header-logo{
    text-align: center;
}
#imagemfundos1{
    width:484px;
}

.row{
    margin-top: 30px;
}

.sobre{
    text-align: start;
    margin-top: 50px;
    padding-top: 30px;
    padding-left: 30px;
    
}
.s3{

}

.row1-s3{
    text-align: center;
}

.titulo-s3{
    margin-top: 40px;
}

#imagem-sobre{
    text-align: center;
    height: 50%;
}
#sobre-titulo{
    text-align: center;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 111px;
    color: #353535;
}
#sobre-conteudo{
    text-align: center;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 36px;
    
    color: #000000;
}