@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Koulen&family=Poppins&family=Teko&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #847F7F;
}

#header{
    background-color: #4D4D4D;
}
.logo{
    margin:10px;
    border-radius: 100px;

}
.header-logo{
    text-align: center;
}
#imagemfundos1{
    padding:0px%;
}
